# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.manifest
*.spec

# Virtual environments
.venv
env/
venv/
ENV/

# Testing & coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
/coverage

# Jupyter
.ipynb_checkpoints

# Environment & secrets
.env
**/.env*
!.env.example
*.pem
*.key
*.p12
credentials.json
serviceAccount*.json

# Node
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build

# IDE & OS
*.DS_Store
.mypy_cache/
.idea/
.vscode/

# Logs
*.log

# Project-specific
*.geojson
*.db
/backend/notebooks/data
backend/notebooks/writing-to-state-db.ipynb
